<section class="container-fluid my-3">
<header class="text-center"><h2>Employee Details</h2></header>
 
 <h5>Add Employee</h5>
 <form class="add-employee">
   <div class="input-group my-3">
      <div class="input-group-prepend">
         <span class="input-group-text" id="inputGroup-sizing-default">Employee Name</span>
      </div>
      <input type="text" class="form-control" id="employee-name" aria-label="Default"
         aria-describedby="inputGroup-sizing-default" placeholder="First + Last Name">
   </div>
   <div class="input-group my-3">
      <div class="input-group-prepend">
         <span class="input-group-text">Employee Salary</span>
         <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="employee-salary" aria-label="Amount (to the nearest dollar)">
   </div>
   <div class="input-group my-3">
      <div class="input-group-prepend">
         <label class="input-group-text" for="inputGroupSelect01">Employee Role</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
         <option selected id="employee-role">Choose...</option>
         <option value="1" id="">Senior Staff Engineer</option>
         <option value="2" id="">Senior Engineer</option>
         <option value="3" id="">Mid-level Engineer</option>
         <option value="4" id="">Junior Engineer</option>
         <option value="5" id="">Technician</option>
         <option value="6" id="">Project Manager</option>
      </select>
   </div>
   <div class="input-group my-3 ">
      <div class="input-group date" data-provide="datepicker">
         <div class="input-group- mr-3">
            <label class="input-group-text mb-1" for="inputGroupSelect01">Employee Start Date</label>
         </div>
         <span class="glyphicon glyphicon-th" id="employee-start-date">
            <input id="start-date" name="datepickerfrom" width="450" type="date" required />
         </span>
      </div>
   </div>
   <div class="action-button-container my-5" style="width: 800px;">
      <button type="button" class="btn btn-dark" id="save-employee-button">Save Employee Data</button>
      <button type="button" class="btn btn-danger" id="delete-employee-button">Delete Employee</button>
   </div>
</form>

<script src="./js/add-employee.js"></script>
</section>