<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMS Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>

<body>
<div class="my-4">
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a href="#home" class="nav-link active" data-bs-toggle="tab">Home</a>
        </li>
           {{#if logged_in}}
        <li class="nav-item">
            <a href="#employee-list" class="nav-link" data-bs-toggle="tab">Employees</a>
        </li>
        <li class="nav-item">
            <a href="#process-leave" class="nav-link" data-bs-toggle="tab">Leave Form</a>
        </li>
         <li class="nav-item">
            <a href="#employee-add" class="nav-link" data-bs-toggle="tab">Add Employee</a>
        </li>
        <li class="nav-item">
            <a href="/logout/exit" class="nav-link">Log Out</a>
        </li>
        {{else}}
           </li>
           <li class="nav-item">
            <a href="/login" class="nav-link">Log In</a>
        </li>
        {{/if}}
    </ul>
</div>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <h4 class="mx-4">Welcome to the Manager dashboard, {{ user.username }}!</h4>
            {{> leaveBalanceTable }}
        </div>
        <div class="tab-pane fade" id="employee-list">
            {{> allEmployees}}
        </div>
        <div class="tab-pane fade" id="process-leave">
            {{> leaveRequest}}
        </div>
          <div class="tab-pane fade" id="employee-add">
            <h4 class="mt-2">Add Employee</h4>
            {{> addEmployee}}
        </div>
    </div>
