* {
    font-family: 'Dosis', sans-serif;

}

:root {
    --primary: blue;
    --secondary: silver;
    --tertiary: gray;
    --quantrinary: #5e877f;
    --light: white;
    --dark: black;
    --error: red;
    --border-radius: 0.3rem;
}

.hero {
    text-align: center;
    background-color: var(--dark);
}

ul  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    float: left;
    padding: 5px;
}

li {
    padding: 5px;
}

.col-auto, .form-horizontal {
    background-color: var(--secondary);
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
    font-family: 'Dosis';
}


footer {
    position: absolute; 
    background-color: var(--dark);
    width: 100%;
    height: 50px;
    float: right;
    padding: 3px;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: var(--tertiary);
    border-radius: 15px;

}


header {
    background-color: var(--quantrinary);
}

/* h1 { */

    /* text-align: center;
    color: var(--dark);
    padding: 20px; */

/* } */
/* 
h2 {
    text-align: center;
    color: var(--dark);
    padding: 20px;
} */

label {
    /* color: var(--light); */
    font-size: 17px;
}

#Uname {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: var(--primary);


}

span {
    font-size: 20px;
}

form {
    background-color: var(--light);
}
.container-fluid {
    background-color: var(--light);
}

